.fondo-img{
    background-image: url(../img/fondo.jpg);
}
.pared-roja{
    background-image: url(../img/pared-roja.jpg);
}
.pared-hueso{
    background-image: url(img/rosapastel.);
}
.pared-cemento{
    background-image: url(.../img/bl);
}